/* Staff Category List */
.ca-adv-staff-category-list .views-field-field-ca-adv-staff-c-photo,
.ca-adv-staff-category-list .view h2 {text-align: center;}

/* Staff Member List */
.ca-adv-staff-member-list .views-field-field-ca-adv-staff-m-photo,
.ca-adv-staff-member-list .view h2,
.ca-adv-staff-member-list .view h3 {text-align: center; margin: 0;}

.ca-adv-staff-member-list-3 .views-field-field-ca-adv-staff-m-photo {float: left; margin: 0 15px 5px 0;}

.ca-adv-staff-member-list-3 .views-field-field-ca-adv-staff-m-photo,
.ca-adv-staff-member-list-3 .view h2,
.ca-adv-staff-member-list-3 .view h3 {text-align: left;}
.ca-adv-staff-member-list-3 .views-field-view-node {text-align: right;}
.ca-adv-staff-member-list-3 .views-field-nothing {clear: both;}

.ca-adv-staff-member-list-4 .views-field-field-ca-adv-staff-m-photo {float: left; margin: 0 15px 5px 0;}

.ca-adv-staff-member-list-4 .views-field-field-ca-adv-staff-m-photo,
.ca-adv-staff-member-list-4 .view h2,
.ca-adv-staff-member-list-4 .view h3 {text-align: left;}
.ca-adv-staff-member-list-4 .views-field-view-node {text-align: right;}
.ca-adv-staff-member-list-4 .views-field-nothing {clear: both;}

/* Staff Grouped Member List */
.ca-adv-staff-category-list-4 td {display: block; float: left; padding: 0; width: 33%;}
.ca-adv-staff-category-list-4 .views-field-field-ca-adv-staff-m-photo {text-align: center;}
.ca-adv-staff-category-list-4 .view h4 {margin-bottom: 10px; text-align: center;}
.ca-adv-staff-category-list-4 .view h5 {margin-bottom: 0; text-align: center;}
.ca-adv-staff-category-list-4 .view-ca-adv-staff-category-list h3 {font-size: 1.3em; margin-bottom: 10px;}

/* Staff Member Node */
.pane-ca-adv-staff-member-node-ca-staff-node-1 {float: left;}
.pane-ca-adv-staff-member-node-ca-staff-node-1 .views-row {padding-bottom: 5px;}
.pane-ca-adv-staff-member-node-ca-staff-node-1 .views-field {padding-right: 15px;}
.ca-adv-staff-member-node .view h3 {text-align: center; margin: 0; max-width: 200px;}